<a href="https://colab.research.google.com/github/mariuszkr33/dw_matrix/blob/master/sklearn2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})
df['weight_cut'] = pd.cut(df['weight'], bins=(60, 75, 80, 95), labels=['light', 'normal', 'heavy'])

In [ ]:
df

   weight weight_cut
0    75.0      light
1    78.5     normal
2    85.0      heavy
3    91.0      heavy
4    84.5      heavy
5    83.0      heavy
6    68.0      light

In [ ]:
pd.get_dummies(df)

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0

In [ ]:
import pandas as pd


data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)
df

               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []

In [ ]:
df['lenght'] = df['currency'].apply(len)
df

               currency  lenght
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

In [ ]:
df['PLN_flag'] = df['currency'].apply(lambda item: 1 if 'PLN' in item else 0)
df

               currency  lenght  PLN_flag
0            [PLN, USD]       2         1
1  [EUR, USD, PLN, CAD]       4         1
2                 [GBP]       1         0
3       [JPY, CZK, HUF]       3         0
4                    []       0         0

In [ ]:
import pandas as pd


df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})
df

              hashtags
0          #good#vibes
1  #hot#summer#holiday
2         #street#food
3             #workout

In [ ]:
df = df['hashtags'].str.split('#', expand = True)
df

  0        1       2        3
0       good   vibes     None
1        hot  summer  holiday
2     street    food     None
3    workout    None     None

In [ ]:
df = df.drop(columns=[0])
df

         1       2        3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [ ]:
df.columns = ['hastag1', 'hastag2' , 'hastag3']
df

   hastag1 hastag2  hastag3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [ ]:
df['missing'] = df.isnull().sum(axis=1)
df

   hastag1 hastag2  hastag3  missing
0     good   vibes     None        1
1      hot  summer  holiday        0
2   street    food     None        1
3  workout    None     None        2

In [ ]:
import pandas as pd


df = pd.DataFrame(data={'investments': ['100_000_000', '100_000', '30_000_000', '100_500_000']})
df

   investments
0  100_000_000
1      100_000
2   30_000_000
3  100_500_000

In [ ]:
df['investments'] = df['investments'].str.replace('_','').astype(int)
df

   investments
0    100000000
1       100000
2     30000000
3    100500000

In [ ]:
from sklearn.datasets import load_iris

In [ ]:
data = load_iris()
data.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [ ]:
print(data.keys())

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [ ]:
data['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [ ]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']
print(data.shape)
print(target.shape)

(150, 4)
(150,)

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']

In [ ]:
data_train, data_test, target_train, target_test = train_test_split(data, target, test_size=0.3)
print(f'data_train shape: {data_train.shape}')
print(f'data_test shape: {data_test.shape}')
print(f'target_train shape: {target_train.shape}')
print(f'target_test shape: {target_test.shape}')

data_train shape: (105, 4)
data_test shape: (45, 4)
target_train shape: (105,)
target_test shape: (45,)